<p>login works!</p>
<form [formGroup]="loginForm" >
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <p style="color: red"
     *ngIf="loginForm.controls.email.hasError('required')&&loginForm.controls.email.touched"
  >Please input email</p>
  <p style="color: red"
     *ngIf="loginForm.controls.email.hasError('email')"
  >Invalid Email</p>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="pass">
  </div>
  <p style="color: red"
     *ngIf="loginForm.controls.pass.hasError('required')&&loginForm.controls.pass.touched"
  >Please input Pass</p>
  <p style="color: red"
     *ngIf="loginForm.controls.pass.hasError('minlength')"
  >Invalid Pass</p>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
