<h2>List Student</h2>
<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th>No</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Mark</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of studentList;index as i">
    <td>{{i + 1}}</td>
    <td>{{student.name}}</td>
    <td [ngSwitch]="student.gender" >
      <span *ngSwitchCase="1">Male</span>
      <span *ngSwitchCase="0">Female</span>
      <span *ngSwitchDefault>Other</span>
    </td>
    <td>{{student.mark}}</td>
  </tr>
  </tbody>

</table>
